# postgres
alias pgstart='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pgstop='pg_ctl -D /usr/local/var/postgres stop -m fast'

# git
alias gru='git remote update'
alias grup='git remote update origin -p'
alias grue='git remote update origin'
alias gitx-reflog='gitx --all `git reflog | cut -c1-7`'

# ruby-related
alias b='bundle exec'
