# postgres
alias pgstart='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pgstop='pg_ctl -D /usr/local/var/postgres stop -m fast'

# elasticsearch
alias elasticstart='elasticsearch -f -D es.config=/usr/local/opt/elasticsearch/config/elasticsearch.yml'

# memcached
alias memcachedstart='/usr/local/opt/memcached/bin/memcached'

# git
alias gru='git remote update'
alias grup='git remote update origin -p'
alias grue='git remote update origin'
alias grom='git rebase origin/master'
alias glog='git log --graph --oneline --all --decorate'
alias gitx-reflog='gitx --all `git reflog | cut -c1-7`'

function groc { # git rebase origin/{current}
  local remote_branch="${1:-origin}/$(git branch | grep \* | cut -c 3-)"
  git rebase $remote_branch
}

function gpoc { # git push origin {current}
  local current_branch="$(git branch | grep \* | cut -c 3-)"
  git push origin $current_branch
}

# ruby-related
alias b='bundle exec'
alias bf='bundle exec foreman run'

## replace all instances of $1 with $2 within $3. uncomment with care.
#function supersub {
  #ack -l "$1" "$3" | xargs perl -p -i -e "s/$1/$2/g"
#}

function supersay {
  say -v 'Agnes' $1 &
  say -v 'Albert' $1 &
  say -v 'Alex' $1 &
  say -v 'Bad News' $1 &
  say -v 'Bahh' $1 &
  say -v 'Bells' $1 &
  say -v 'Boing' $1 &
  say -v 'Bruce' $1 &
  say -v 'Bubbles' $1 &
  say -v 'Cellos' $1 &
  say -v 'Deranged' $1 &
  say -v 'Fred' $1 &
  say -v 'Good News' $1 &
  say -v 'Hysterical' $1 &
  say -v 'Junior' $1 &
  say -v 'Kathy' $1 &
  say -v 'Pipe Organ' $1 &
  say -v 'Princess' $1 &
  say -v 'Ralph' $1 &
  say -v 'Trinoids' $1 &
  say -v 'Vicki' $1 &
  say -v 'Victoria' $1 &
  say -v 'Whisper' $1 &
  say -v 'Zarvox' $1
}
